/* Reset margin dan padding untuk semua elemen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mengatur font dasar untuk seluruh halaman */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Mengatur tampilan header */
header {
    background: linear-gradient(to right, #28a745, #218838);
}

/* Mengatur tampilan tabel */
.table {
    margin-top: 20px;
}

/* Mengatur tampilan form */
.form-label {
    font-weight: bold;
}

/* Mengatur tampilan footer */
footer {
    background-color: #343a40;
}

/* Mengatur tampilan carousel */
.carousel-item img {
    max-height: 600px; /* Mengatur tinggi maksimum gambar */
    object-fit: cover; /* Memastikan gambar tidak terdistorsi */
}

.carousel-item {
    width: 80%;
    margin: 0 auto;
}
/* Mengatur tampilan tombol kirim */
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.running-text {
      white-space: nowrap;  /* Menghindari teks terpotong */
      overflow: hidden;     /* Menyembunyikan bagian teks yang keluar */
      width: 100%;          /* Lebar penuh kontainer */
      animation: scroll-text 10s linear infinite; /* Menjalankan animasi */
    }

    @keyframes scroll-text {
      0% {
        transform: translateX(100%); /* Mulai dari kanan */
      }



      /* Tombol Previous */
.carousel-control-prev-icon {
  background-color: #00468d; /* Mengubah warna latar tombol Previous */
  border-radius: 50%; /* Membuat tombol menjadi bulat */
}

/* Tombol Next */
.carousel-control-next-icon {
  background-color: #00468d; /* Mengubah warna latar tombol Next */
  border-radius: 50%; /* Membuat tombol menjadi bulat */
}

/* Anda dapat mengubah warna tombol sesuai kebutuhan */
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #007bff; /* Warna latar saat hover */
}
